body,html{
	background: #efeff4;
	height:100%;
}
h1,h2,h3,h4,h5,h6 {
	margin:0;
	color:#474747;
}
.mui-popup,
.mui-poppicker,
.mui-dtpicker {
	z-index: 99999999;
}
.mui-popup-button {
	color:#f07527;
}
.mui-btn-blue {
	border: 1px solid #f07527;
    background-color: #f07527;
}
.mui-bar-nav.mui-bar .mui-icon {
	color:#f17b28;
}
.footbtn {
		display: block;
		width: 80%;
		height: 3rem;
		line-height: 2rem;
		background:#f07527;
		color:#fff;
		font-size:1.8rem;
		text-align: center;
		border-radius: 3rem;
		margin:0 auto;
		margin-top:2rem;
	}
	a.footbtn {
		line-height: 3rem;
	}
.mui-slider {
		height:12.6rem;
		background: #fff;
		margin-top:3rem;
	}
	.mui-table-view::before,
	.mui-table-view::after {
		background: transparent;
	}
	.mui-slider .mui-slider-group {
		height:100%;
	}
	.mui-slider-item a {
	    position: relative;
	    width: 100%;
	    height: 0;
	    padding:22%;
	}
	.mui-slider-indicator .mui-active.mui-indicator {
		background: #f07527;
	}
	#search {
		position: fixed;
		width: 100%;
		height:3rem;
		top:0px;
		z-index:10;
	}
	#search > div {
		width: 100%;
		height:3rem;
		margin:0 auto;
		background: #fff;
		position: relative;
		/*border-radius: 3px;*/
	}
	#search > div > div {
		/*height:100%;*/
	}
	#search > div .select {
		width: 20%;
		position: relative;
    	overflow: inherit;
    	padding:0;
	}
	#search > div .mui-input-group {
		width: 68%;
	    margin-left: 2%;
	    border-radius: 3px;
	    height: 80%;
	    margin-top: .3rem;
	    background: #f6f6f6;
	}
	#search .mui-input-group .mui-input-row {
	    height: 100%;
	}
	#search .mui-input-row label {
	    font-family: 'Helvetica Neue',Helvetica,sans-serif;
	    line-height: 1.1;
	    /*float: left;*/
	    width: 15%;
	    padding: 1%;
	    margin-bottom: 0;
	}
	.mui-input-group:before,
	.mui-input-group:after,
	.mui-input-group .mui-input-row:after,
	.mui-table-view-cell:after {
		background: transparent;
	}
	#search .select a {
		height: 100%;
	    line-height: 3rem;
	    margin: 0;
	    padding: 0 10px;
    	text-align: center;
    	white-space: nowrap;
    	text-overflow: ellipsis;
        position: relative;
	    display: block;
	    overflow: hidden;
	    color:#868686;
	    background: #fff;
	    font-size: 1rem;
	}
	#search .select.mui-collapse.mui-active {
		margin-top:0;
		background: #f07527;
		color:#fff;
		border-top-left-radius: 3px;
		border-bottom-left-radius: 3px;
	}
	#search .select.mui-active {
		background: #fff;
	}
	#search .mui-navigate-right:after {
	    right: 2px;
	    content: '\e581';
	}
	#search .mui-navigate-right.active:after {
		content: '\e580';
	}
	#search .mui-input-row label~input {
	    width: 65%;
	    float:left;
	    margin-bottom: 0;
	    padding-left: 0;
	    border: 0;
	    padding: 0;
	    height: 100%;
	    padding-left: 10px;
	    font-size: 1rem;
	}
	#search .mui-input-row button {
		background: transparent;
		color:#f07527;
		border:none;
		height:100%;
		padding: 0 7px;
		font-size: 1.2rem;
    	line-height: 2.2rem;
	}
	#search .user {
		width: 10%;
	}
	#search .user a {
		height: 100%;
		display: block;
		text-align: center;
		color:#f07527;
		line-height: 3.4rem;
	}
	#selection {
		background: #fff;
		border-bottom: 1px solid #f07527;
		height:3rem;
		position: relative;
	}
	#selection .col-xs-3 {
		padding:0;
	}
	#selection a.mui-navigate-right {
		height: 100%;
	    line-height: 3rem;
	    margin: 0;
	    text-align: center;
	    white-space: nowrap;
	    text-overflow: ellipsis;
	    position: relative;
	    display: block;
	    overflow: hidden;
	    color: #868686;
	    font-size: 1rem;
	}
	#selection a.mui-navigate-right:after {
		right: 5px;
	    content: '\e581';
	    color:#868686;
	}
	#selection a.mui-navigate-right.active {
		color:#f07527;
	}
	#selection a.mui-navigate-right.active:after {
		color:#f07527;
		content: '\e580';
	}
	.selectbox {
		position: absolute;
		z-index: 5;
		top:3rem;
		left:0;
		width: 100%;
		background: #fff;
		box-shadow: 1px 1px 1px 1px #ececec;
	}
	.selectbox h5 {
		height:3rem;
		line-height: 3rem;
		font-size:1.6rem;
		margin:0 -15px;
		margin-bottom: 10px;
		padding:0 15px;
		background: #f7f7f7;
		border-bottom:1px solid #efefef;
	}
	.selectbox a {
		text-align: center;
		height:2.6rem;
		line-height: 2.6rem;
		font-size:1rem;
		border:1px solid #efefef;
		margin-bottom: .8rem;
		display: block;
		width: 100%;
		color:#868686;
		border-radius: 2px;
	}
	.selectbox a.active {
		color:#f07527;
		border:1px solid #f07527;
	}
	.joblist {
		background: transparent;
	}
	.joblist h4 {
		font-size:1.6rem;
		margin:0;
		color:#484848;
		width: 85%;
	}
	.joblist .lists {
		border-bottom: 1px solid #ececec;
		background: #fff;
	}
	
	.joblist .lists > a {
		white-space:inherit;
	}
	.joblist .lists > a > div {
		margin-top:5px;
		font-size:1rem;
	}
	.joblist span {
		display: inline-block;
		font-size:1.2rem;
		height: 1.4rem;
    	line-height: 1.4rem;
	}
	.joblist .stat {
		position: absolute;
		right:15px;
		top:11px;
	}
	.joblist .place,
	.joblist .time,
	.joblist .range {
		color:#868686;
		margin-right:1rem;
		padding-left:1.3rem;
		position: relative;
	}
	.joblist .place::before {
		content: '';
		position: absolute;
		top:.2rem;
		left:0;
		width: 1rem;
		height:1rem;
		background: url('/public/img/position.png') no-repeat center;
		background-size: contain;
	}
	.joblist .time::before {
		content: '';
		position: absolute;
		top:.2rem;
		left:0;
		width: 1rem;
		height:1rem;
		margin-right: .5rem;
		background: url('/public/img/time.png') no-repeat center;
		background-size: contain;
	}
	.joblist .price,
	.joblist .stat {
		color:#f07527;
		font-size:1.4rem;
	}
	.joblist .pricetype {
		font-size: .8rem;
		border:1px solid #f07527;
		color:#f07527;
		margin-left: 2rem;
		padding:0 5px;
	}
	.joblist .range {
		position: absolute;
		right:15px;
		bottom:11px;
		margin-right: 0;
	}
	.joblist .range::before {
		content: '';
		position: absolute;
		top:0rem;
		left:0;
		width: 1rem;
		height:1rem;
		margin-right: .5rem;
		background: url('/public/img/range.png') no-repeat center;
		background-size: contain;
	}
	.joblist .lists .controls {
		height:3rem;
		border-top:1px solid #eee;
		border-bottom:1px solid #eee;
		margin-top:5px;
	}
	.joblist .lists .controls button {
		display: inline-block;
		width: 50%;
		height:100%;
		line-height: 2rem;
		font-size:1rem;
		text-align: center;
		border:none;
		border-left:1px solid #eee;
		border-right: 1px solid #eee;
		float:right;
		color: #484848;
	}
	#detail h1 {
		font-size:2rem;
	}
	#detail h3 {
		color:#e36a26;
		font-size:1.6rem;
		margin:1rem 0;
	}
	#detail .info {
		color:#868686;
		font-size:1.4rem;
	}
	.spen {
		display: inline-block;
		padding-right: 5px;
		margin-right: 5px;
		border-right: 1px solid #868686;
	}
	#detail h2 {
		font-size:1.6rem;
	}
	#detail h4 {
		margin:1.4rem 0;
		font-size:1.4rem;
	}
	#detail p {
		line-height: 1.4rem;
		color:#3f4040;
		font-size:1rem;
	}
	#detail .time {
		float:left;
		padding:2px 5px;
		color:#7e7e7e;
		background: #f6f6f6;
		font-size:1rem;
	}
	#detail li,
	#leader li {
		padding:0;
	}
	#detail li a,
	#leader li a {
		margin:0;
	}
	#detail li a::after,
	#leader li a::after {
		right: 0;
	}
	#leader .imgbox {
		width: 4rem;
		height: 4rem;
		position: relative;
		border-radius: 50%;
		overflow: hidden;
		margin-right: 1rem;
	}
	#leader .infos {
		
	}
	#leader .infos > div {
		font-size:1.2rem;
		margin-bottom: .5rem;
	}
	#leader .infos span {
		display: inline-block;
		margin-right: 10px;
	}
	#tips {
		width: 80%;
		margin:0 auto;
		background: #f4e5dc;
		padding:15px;
	}
	#tips p {
		text-align: center;
		font-size:1rem;
		color:#f1a371;
		margin:0;
	}
	#tips p a {
		text-decoration: underline;
		color:#0077ff;
	}
	#usertop {
		/*height: 13.6rem;*/
		margin-bottom: 10px;
		background: -webkit-linear-gradient(#f07527, #fedc2b); /* Safari 5.1 - 6.0 */
		background: -o-linear-gradient(#f07527, #fedc2b); /* Opera 11.1 - 12.0 */
		background: -moz-linear-gradient(#f07527, #fedc2b); /* Firefox 3.6 - 15 */
		background: linear-gradient(#f07527, #fedc2b); /* 标准的语法 */
	}
	#usertop .userinfo {
		height: 6.6rem;
		/*margin-bottom: 1.2rem;*/
		padding:1rem 15px 1rem 15px;
		position: relative;
		color:#fff;
	}
	#usertop .userinfo .userimg {
		width: 4.6rem;
		height: 4.6rem;
		position: relative;
		overflow: hidden;
		border-radius: 50%;
		border:2px solid #fff;
		margin-right: 1rem;
	}
	#usertop .userinfo .info .name {
		font-size:1.8rem;
		margin-bottom: 10px;
		font-weight: 700;
	}
	#usertop .userinfo .info .else {
		font-size:1.2rem;
	}
	#usertop .userinfo .info .else .score {
		display: inline-block;
		margin-right: 10px;
		padding-left:1.6rem;
		position: relative;
	}
	#usertop .userinfo .info .else .score::before {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 1.2rem;
		height:1.2rem;
		background: url('/public/img/star.png') no-repeat center;
		background-size: contain;
	}
	#Sign {
		position: absolute;
		top:2rem;
		right:15px;
		padding:.2rem 1.6rem;
		border:2px solid #fff;
		text-align: center;
		color:#fff;
		background: transparent;
	}
	#usertop .myjob {
		width: 100%;
		height:6.6rem;
		padding:1rem 0;
		margin:0 auto;
		background: -webkit-linear-gradient(rgba(255,255,255,.4), transparent); /* Safari 5.1 - 6.0 */
		background: -o-linear-gradient(rgba(255,255,255,.4), transparent); /* Opera 11.1 - 12.0 */
		background: -moz-linear-gradient(rgba(255,255,255,.4), transparent); /* Firefox 3.6 - 15 */
		background: linear-gradient(rgba(255,255,255,.4), transparent); /* 标准的语法 */
	}
	#usertop .myjob a {
		display: block;
	}
	#usertop .myjob .imgbox {
		height: 2.85rem;
		position: relative;
		margin-bottom: 6px;
	}
	#usertop .myjob p {
		margin:0;
		font-size:1.2rem;
		color:#f07527;
		text-align: center;
	}
	.mylink .mui-table-view-cell::after {
		background-color: #c8c7cc;
		left:0;
	}
	
	.mylink a.mui-navigate-right span {
		display: inline-block;
	    margin-right: .5rem;
	    width: 1.5rem;
	    height: 1.5rem;
	    position: relative;
	    top: .3rem;
	    background-repeat: no-repeat;
	    background-position: center;
	    background-size: contain;
	}
	.mylink a.mui-navigate-right span.ident1 {
		background-image: url('/public/img/myjob1.png');
	}
	.mylink a.mui-navigate-right span.ident2 {
		background-image: url('/public/img/myjob2.png');
	}
	.mylink a.mui-navigate-right span.ident3 {
		background-image: url('/public/img/myjob3.png');
	}
	.mylink a.mui-navigate-right span.ident4 {
		background-image: url('/public/img/myjob4.png');
	}
	.mylink a.mui-navigate-right span.ident5 {
		background-image: url('/public/img/myjob5.png');
	}
	.mylink a.mui-navigate-right span.ident6 {
		background-image: url('/public/img/myjob6.png');
	}
	.mylink a.mui-navigate-right span.ident7 {
		background-image: url('/public/img/myjob7.png');
	}

	.signdone {
		background: #fff;
		padding:5% 20%;
		/*padding-left:20%;
		padding-right:20%;*/
		margin-bottom: 1rem;
	}
	.signdone h2 {
		margin:0;
		color:#f07527;
		font-size:2rem;
		text-align: center;
	}
	.signdone p {
		color:#5a5a5a;
		font-size:1.4rem;
		line-height: 2rem;
		margin:1rem 0;
	}
	.signdone img.QRcode {
		display: block;
		width: 80%;
		margin:0 auto;
	}
	#SignAD {
		display: block;
		width: 100%;
		height:6rem;
		background: #fff url('/public/img/2.jpg') no-repeat center;
		background-size: contain;
	}
	.resu {
		background: #fff;
		padding:5px 15px;
		margin-bottom: 1rem;
	}
	.resu .mui-input-row {
		border-bottom: 1px solid #eee;
		font-size: 1.4rem;
	}
	.resu .mui-input-row label {
		line-height: 1.6rem;
		margin-bottom: 0;
	}
	.resu .mui-input-row input {
		float:left;
		width: 65%;
		border:none;
		margin-bottom: 0;
	}
	.resu .mui-input-row button {
		border:none;
		float:left;
		color:#0096ff;
		text-align:center;
		padding: 10px 15px;
		border-left: 1px solid #eee;
		width: 35%;
	}
	.pursetop {
		padding:15px;
	}
	.pursetop h3 {
		margin:0;
		margin-bottom: 1rem;
		color:#fff;
		font-size:1.4rem;
	}
	.pursetop .purserow .col-xs-8 {
		font-size:3.6rem;
		height: 3.2rem;
		line-height: 3.2rem;
		color:#fff;
		position: relative;
    	top: 1rem;
    	font-weight: 700;
	}
	.pursetop .purserow button {
		line-height: 1.6rem;
		display: block;
		border:1px solid #fff;
		color:#fff;
		text-align: center;
		font-size:1rem;
		margin-bottom: 10px;
		background: transparent;
		width: 100%;
		padding:2px 5px;
	}
	#Pursegold {
		padding:15px;
		background: #fff;
	}
	#Pursegold .goldbanner {
		width: 100%;
		margin-bottom: 1rem;
	}
	#Pursegold .golddetail {
		border:2px solid #e5702d;
		border-radius: 3px;
		font-size:1.2rem;
	}
	#Pursegold .golddetail p {
		font-size:1rem;
	}
	#Pursegold .golddetail span.mui-pull-right {
		color:#f07527;
	}
	.alert {
		padding:15px;
		background: #fff;
		overflow: hidden;
		margin-bottom:0;
	}
	.alert h3 {
		font-size:1.6rem;
		text-align: center;
		margin:0;
		color:#f07527;
	}
	.alert .selectrow {
		margin:1.2rem 0;
		width: 110%;
	}
	.alert .selectrow .money {
		float:left;
		padding:2px 5px;
		color:#8e8e8e;
		border:1px solid #8e8e8e;
		border-radius: 10px;
		margin-right:10px;
		width: 20%;
		text-align: center;
	}
	.alert .selectrow .money.active {
		color:#f07527;
		border:1px solid #f07527;
	}
	#Recharge p {
		color:#f07527;
		font-size:1.4rem;
		text-align: center;
		margin:0;
	}
	.alert .control {
		width: 60%;
		margin:0 auto;
		margin-top:1rem;
	}
	.alert .control .col-xs-5 {
		text-align: center;
		font-size:1rem;
		padding:5px 10px;
	}
	.alert .control .col-xs-5.cancle {
		border:1px solid #8e8e8e;
		color:#8e8e8e;
		margin-right: 10px;
	}
	.alert .control .col-xs-5.confirm {
		background: #f07527;
		border:1px solid #f07527;
		color:#fff;
	}
	#Exchange p {
		color:#8c8c8c;
		font-size:1.4rem;
	}
	#Exchange p span,
	#Exchange p a {
		color:#f07527;
		display: inline-block;
		margin-left:10px;
	}
	#Exchange p a {
		text-decoration: underline;
	}
	#aboutus {
		padding:50px 15px;
		height:100%;
		background: #fff;
	}
	#aboutus img {
		width: 8.5rem;
		height:8.5rem;
		margin:0 auto;
		margin-bottom: 2rem;
		display: block;
	}
	#aboutus p {
		text-indent: 3rem;
		color:#565656;
	}